.card-container{
    width:100%;
    border-radius:20px;
    margin-top: 60px;
  
}

.title-class{
    text-align: left;
    
}

.card-container-img{
    width:350px;
    height: auto;
    border-radius:10%
}

.skills-class{
    padding:10px;
    border: 1px solid #333;
    border-radius:10px;
    display: flex;
    justify-content: space-around;
}

.about-class{
    text-align: left;
    font-size: large;
    margin-top:20px;
    padding:10px;
}

.about-container{
    margin-top:30px;
    width:47%;
    padding:10px;
    border: 1px solid #333;
    border-radius:10px
}

.contact-container{
    height:fit-content;
    margin-top:30px;
    width:47%;
    padding:15px;
    border: 1px solid #333;
    border-radius:10px
}

.contact-container i{
    width:50px;
    font-size:xx-large;
}

.fa-facebook-square{
    color:#4267B2;
}
.fa-linkedin-square{
    color:#2867B2;
}
.fa-github-square{
    color:#333;
}

.icons-img{
    width: 50px;
    height: auto;
    
}

.icons{
    display: block;
}