.coursesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.coursesTitelDiv h1{
    font-size: 50px;
}

.coursesDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.course{
    margin: 20px;
    -moz-box-shadow: 0px 3px 9px #00000029;
    box-shadow: 0px 3px 9px #00000029;
}

.course svg {
    margin-top:20px;
}

.course h3{
    margin: 20px 0;
    font-size: xx-large;
}
