.admin-page{
    /* display: flex; */
    height: 70vh;
}

.modal_checkbox{
    display: flex;
position: relative;
flex-direction: column;
}

Button{
    width: 150px;
}

.modal-admin-page{
    /* display: block; */
    /* position:relative;
    left:500px; */
}


