.admin-page {
  /* display: flex; */
  height: 70vh;
}
/* .admin-page-actions {
  position: relative;
  right: 150px;
} */


.admin-page-actions button {
  float: right;
  margin: 0 10px;
}

.ant-switch {
  width: 75px;
}
.admin-page-actions .ant-checkbox-wrapper {
  float: right;
}

.modal-admin-page {
  /* display: block; */
  /* position:relative;
    left:500px; */
}
