.navBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.ant-card {
    background-color:  #fafafa;
    border-radius: 15px;
    border: 1px solid black;
}
.ant-card-body p {
    text-align: right;
    font-size: 20px;
    line-height: 0.8;
}

.site-card-border-less-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.site-card-border-less-wrapper .applicans{
    position: relative;
    bottom: 120px;
    right: 60%;
    font-size: 20px;
}

.number{
    position: relative;
    bottom: 40px;
    float: left;
    font-size: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 90px;
    background-color: #fff;
}
.readMoreBtn{
    position: relative;
    top: 15px;
    left: 35%;
}

.jobCardRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
.jobCard{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* #jobCardsHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */