@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');

.sliderContainer{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('https://i.ibb.co/80QGpsn/bgImage.jpg');
    background-color: rgb(238, 238, 238);
}

.numDataDiv{
    width: 150px;
}

.numData{
    font-size: 150px;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.DataNumbersDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background: #f8fbfc;
    width: 100%;
    float: right;
    -moz-box-shadow: 0px 3px 9px #00000029;
    box-shadow: 0px 3px 9px #00000029;
    opacity: 0.7;
}

/* .techImage img{
} */

h1{
    font-size: xx-large;
}
/* .ant-layout-rtl {
    direction: ltr;
  } */

 