@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');

.container{
    height: 100vh;
}
.slick-slider.slick-initialized{
width: 600px;
height: 50vh;
box-shadow: 4px 4px 20px 2px #000;

}


.caruselmain{
    
    background-color: aqua;
}

.caruselmain img{
height: 100%;
}


/* img{
    width:100%;
    height:100%;
    
} */

.numData{
    font-size: 150px;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Display', cursive;
    /* border: 1px solid red; */
}
.DataNumbersDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.dataTextDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}