.sliderslider{
    width:50%;
    height:40vh;
    background-color: rgba(137, 43, 226, 0.13);
    background-repeat: no-repeat;
    overflow: hidden;
    display:flex;
     background-repeat: no-repeat;
    overflow: hidden;
    display:flex;
}

img{
width:100%;
height: 40vh ;
display: flex;
justify-content: center;
align-items: center;

}

