.sliderslider{
    width:50%;
    height:40vh;
    background-color: rgba(137, 43, 226, 0.13);
<<<<<<< HEAD
    /* background-repeat: no-repeat; */
    /* overflow: hidden; */

=======
    background-repeat: no-repeat;
    overflow: hidden;
    display:flex;
>>>>>>> 6be4cc1981429c1dc59f2af633d6de1c2e7dfa92
}

img{
width:100%;
height: 40vh ;
display: flex;
justify-content: center;
align-items: center;

<<<<<<< HEAD

=======
>>>>>>> 6be4cc1981429c1dc59f2af633d6de1c2e7dfa92
}