.bgbgbg{
  position: fixed;
  width: 100%;
  height: 100vh;
z-index: -1;
background-repeat: no-repeat;
}

.logo {
    float: left;
    width: 120px;
    height:31px;
    margin: 8px 12px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
   
  }
  
  .site-layout-background {
    background: rgba(0, 0, 0, 0);
  
  }

  .ant-layout-header.header{
    background: rgb(255, 255, 255);
    /* font-family: "Guttman Yad-Brush"; */
    /* width: 100%; */
  }

  .ant-layout-content{
    /* background-color: rgba(255, 255, 255, 0); */
    height:100vh;
   
    background-color: #ffffff00;
   
    
  }




.ant-layout ant-layout-rtl{
  width: 100%;
  height: 100vh;
  background-color:rgba(255, 255, 255, 0);
 
  
}


.ant-layout-rtl{
  background-color: rgba(255, 255, 255, 0);
}



.imgdiv{
  background-color: rgba(255, 255, 255, 0);
  width:100px;
}

.imgdiv .logo{
  width: 100%;
  height:50px;
}


.ant-menu{
  display:flex;
  justify-content: center;
  align-items: center;
}


.ant-menu a :hover{
  display:flex;
  justify-content: center;
  align-items: center;

 
}

.ant-menu-horizontal{
  width:500px;
display:flex;
justify-content: center;
align-items: center;
  /* font-family: "Guttman Yad-Brush"; */
  text-align: center;
  
 
}  

.ant-menu-horizontal li{
justify-content: space-evenly;

}

.ant-layout-header.header{
  display: flex;
  justify-content: space-between;
  box-shadow:2px 2px 10px 1px;
  width: 100%;
  z-index: 1;
}
/* --------------------------------------------- */
/* login button style start */

.ant-btn{
line-height: 1.5715;
display: inline-block;
white-space: nowrap;
text-align: center;
background-image: none;
border: 1px solid transparent;
cursor: pointer;
transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
touch-action: manipulation;
height: 32px;
padding: 4px 15px;
font-size: 14px;
border-radius: 2px;
color: rgba(0, 0, 0, 0.85);
background: #fff;
}

.ant-btn:hover, .ant-btn:focus{
background-color: #1890ff;
border-color: #1890ff;
color: #ffffff;
}


/* login button style end */
/* --------------------------------------------- */


.ant-menu-horizontal:not(.ant-menu-dark) > 
.ant-menu-item:hover::after,
 .ant-menu-horizontal:not(.ant-menu-dark) >
  .ant-menu-submenu:hover::after, 
  .ant-menu-horizontal:not(.ant-menu-dark) >
   .ant-menu-item-active::after,
    .ant-menu-horizontal:not(.ant-menu-dark) >
     .ant-menu-submenu-active::after, 
     .ant-menu-horizontal:not(.ant-menu-dark) >
      .ant-menu-item-open::after, 
      .ant-menu-horizontal:not(.ant-menu-dark) > 
      .ant-menu-submenu-open::after, 
      .ant-menu-horizontal:not(.ant-menu-dark) >
       .ant-menu-item-selected::after, 
       .ant-menu-horizontal:not(.ant-menu-dark) >
        .ant-menu-submenu-selected::after{
  border-bottom: 0px solid #188fff00;

}

