.logo {
    width: 150px;
    height:31px;

  }
  
  .ant-row-rtl .logo {
    float: right;
  }
  .ant-menu {
    background: #d8e3e7 ;
    height:100%;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8e3e7  !important;
    
  }

  .ant-layout-header.header{
    background: #d8e3e7 ;
  }
  .container-site-layout-background{
    background: #d8e3e7 ;
    border-radius:20px;
  }
  
  .site-layout-background {
    margin:20px;
    background: #d8e3e7;
    border-radius: 20px;
    border: none;
  }
  

.ant-layout ant-layout-rtl{
  width: 100%;
  height: 100vh;
}



  