.logo {
    width: 150px;
    height:31px;
    margin: 20px 12px 8px 0;
  }
  
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }
  .ant-layout-header.header{
    background: #fff;
    display: flex;
    align-items: center;
  }

.ant-layout ant-layout-rtl{
  width: 100%;
  height: 100vh;

  
}

.helloDiv{
  display: flex;
 justify-content: center;
align-items: center;
  height: 70px;
/* margin: 0%; */
 
}




  