#aboutMainDiv{
        /* background-image: url('https://tech-career-jobs.com/Img/bgImage.png'); */

    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0); */
   
}

.texttext{
    color: rgb(0, 0, 0);
    font-size: 22px;
    direction: rtl;
    }

    .h1topic{
        font-size: 60px;
    }   

    .tcLogo{
        width:200px;
        height:100px;
    }

    p{
       
        font-size: 22px;
    }

    .givun{
display: flex;
align-items: center;
justify-content: center;
height: 200px;
margin:auto;
    }
    
 

